In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('Book1.csv',encoding='unicode_escape')

In [8]:
df

    SR no           Student   Age  Class
0     1.0     Pavan Ahirwar  17.0   12.0
1     2.0     Ishan Ahirwar  10.0    7.0
2     3.0   Durgesh Ahirwar  17.0   12.0
3     4.0    Pankaj Ahirwar  15.0   10.0
4     5.0    Ayushi Ahirwar   6.0    2.0
5     6.0   Anshika Ahirwar   5.0    1.0
6     7.0   Shiksha Ahirwar  12.0    8.0
7     8.0  Sharansh Ahirwar   4.0    0.0
8     9.0  Suryansh Ahirwar  15.0   10.0
9    10.0    Harish Ahirwar  17.0   12.0
10    NaN               NaN   NaN    NaN

In [11]:
x= df['Age']

In [12]:
y=df['Class']

In [13]:
x

0     17.0
1     10.0
2     17.0
3     15.0
4      6.0
5      5.0
6     12.0
7      4.0
8     15.0
9     17.0
10     NaN
Name: Age, dtype: float64

In [14]:
y

0     12.0
1      7.0
2     12.0
3     10.0
4      2.0
5      1.0
6      8.0
7      0.0
8     10.0
9     12.0
10     NaN
Name: Class, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train, y_test = train_test_split(x,y,test_size=0.2)

In [19]:
len(x_train)

8

In [18]:
x_test

3    15.0
7     4.0
4     6.0
Name: Age, dtype: float64